<div id="contact-me" class="scroll-container">

    <div>
        <h1>&lt; contact &gt;</h1>
    </div>

    <div id="contact-info">

        <div id="phone"> 
            <p>  <span> <img src="./images/mobile.svg" alt="Mobile"> </span>06 13 81 28 02</p>
        </div>

        <div id="email">
            <a href = "mailto: miary.mahandry@gmail.com"> <span> <img src="./images/envelope.svg" alt="Email"> </span>  miary.mahandry@gmail.com</a>
        </div>

        <div id="linkedin">
            <a target="_blank" href = "https://www.linkedin.com/in/miary-ory/"> <span> <img src="./images/linkedin-square.svg" alt="linkedin-square"> </span>  Miary Mahandry Ory</a>
        </div>

    </div>

</div>