<div id="education" class="scroll-container">

    <h1 class="section-title">&lt; formations &gt;</h1>

    <div class="education-container">

        <div id="timeline">
            <div id="education1" class="education-item">
                <div class="dot"></div>
                <div>
                    <h2 style="color: var(--primary-blue)">2022</h2>
                    <p class="degree">Bachelor in Web Development</p>
                    <p class="location">COPENHAGEN SCHOOL OF DESIGN, COPENHAGEN</p>
                </div>
            </div>
    
            <div id="education2"  class="education-item">
                <div class="dot"></div>
                <div>
                    <h2 style="color: var(--primary-blue)">2020</h2>
                    <p class="degree">A.P Degree in Multimedia Design</p>
                    <p class="location">COPENHAGEN SCHOOL OF DESIGN, COPENHAGEN</p>
                </div>
            </div>
    
            <div id="education3"  class="education-item">
                <div class="dot"></div>
                <div>
                    <h2 style="color: var(--primary-blue)">2016</h2>
                    <p class="degree">Baccalauréat</p>
                    <p class="location">MADAGASCAR</p>
                </div>
            </div>
        </div>


    </div>

</div>