<div id="resume" class="scroll-container">

    <h1 class="section-title">&lt; expériences &gt;</h1>


        <div id="experiences">

            <div class="resume-item">
                <p class="title">Consultante technico/fonctionnelle</p>
                <p class="location"> <span class="icon"> <img src="./images/maps-black.svg" alt="Icon"> ALTECA, LYON <span class="date">MARS 2022 - ACTUELLEMENT</span> </p>
                <ul>
                    <li>Développement et implémentation d'une solution en mode SaaS</li>
                    <li>Intégration et exploitation de web services fournis par le client</li>
                    <li>Prise en main et utilisation d'un framework JavaScript propriétaire</li>
                    <li>Analyse de besoins et formation du client à la plateforme</li>
                    <li>Utilisation quotidienne de l'anglais pour les échanges écrits et oraux</li>
                </ul>
            </div>

            <div class="resume-item">
                <p class="title">Développeur PHP</p>
                <p class="location"> <span class="icon"> <img src="./images/maps-black.svg" alt="Icon"> LOGISNAP, COPENHAGEN <span class="date">AOUT - OCT 2021</span> </p>
                <ul>
                    <li>Développement d'un module personnalisé pour relier la plateforme LogiSnap à Magento</li>
                    <li>Développement d'un module personnalisé pour relier la plateforme LogiSnap à Drupal</li>
                    <li>Intégration back-end via REST API</li>
                </ul>
            </div>

            <div class="resume-item">
                <p class="title">Développeur Front-End</p>
                <p class="location"> <span class="icon"> <img src="./images/maps-black.svg" alt="Icon"> BOTXO, COPENHAGEN <span class="date">JAN - APR 2020</span> </p>
                <ul>
                    <li>Création de prototypes sur Figma</li>
                    <li>Conception des formulaires et automatisation de leur submission</li>
                    <li>Ré-implémentation du site sur WordPress et migration de contenu</li>
                </ul>
            </div>

            <div class="resume-item">
                <p class="title">Développeur Front-End</p>
                <p class="location"> <span class="icon"> <img src="./images/maps-black.svg" alt="Icon"> 20TEN TOTEM, MADAGASCAR  <span class="date">2018</span> </p>
                <ul>
                    <li>Implementation et design du site en entier sur Wix</li>
                    <li>Optimisation des images et videos</li>
                    <li>Gestion de contenu</li>
                </ul>
            </div>


            <div class="resume-item">
                <p class="title">Développeur Web</p>
                <p class="location"> <span class="icon"> <img src="./images/maps-black.svg" alt="Icon"> CERIDIAN, MAURITIUS<span class="date"> JUN - JUL 2017</span> </p>
                <ul>
                    <li>Introduction à PHP</li>
                    <li>Introduction à MySQL</li>
                    <li>Développement de petits projets reliant le front-end et les bases de données</li>
                </ul>
            </div>

        </div>


</div>